h1 {
  color: MediumSeaGreen;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}

nav a {
  padding: 0.3125em 0.625em;
  text-decoration: none;
  margin-top: 0.625em;
  display: inline-block;
  background-color: #eee;
  border-radius: 0.25em;
  margin-right: 1em;
}

nav a:visited, a:link {
  color: #607D8B;
}

nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

nav a.active {
  color: #039be5;
}
