<!--The content below is only a placeholder and can be replaced.-->

<!-- Welcome to {{ title }}!
<app-word></app-word>
<app-book></app-book>
<a href="#">Khoa pham online</a> -->

<!-- <app-user-form></app-user-form> -->
<!-- <h1>{{title}}</h1>
<app-heroes></app-heroes>
<app-struct></app-struct> -->

<!-- <app-words></app-words> -->

<!-- <app-person name="Lê Duy Kỳ" age="20"></app-person>
<app-person name="Phí Xuân Hoàn" age="20"></app-person> -->

<!-- <app-list-person></app-list-person> -->

<!-- <app-parent></app-parent> -->

<!-- <app-card>
  <h3 class="card-body">duyky</h3>
  <p class="card-header">Lê</p>
</app-card> -->

<!-- <app-learn-pipe></app-learn-pipe> -->

<!-- <app-sign-in></app-sign-in> -->

<!-- <app-sign-up></app-sign-up> -->

<a routerLink="/contacts">Contacts</a>
<a routerLink="/detail">Detail</a>
<router-outlet></router-outlet>

